* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Muli", sans-serif;
  color: #273444;
  background-color: #acb8c9;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

html {
  height: 100vh;
}

.profile {
  padding: 32px 40px;
  width: 380px;
  margin: 0 auto;
  background-color: #dfe5ec;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
  text-align: center;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
  text-align: center;
  padding-bottom: 15px;
}

.profile-detail {
  display: flex;
  justify-content: space-evenly;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
  text-align: center;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
  text-align: center;
}

.profile-image {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

/* ▼ WHERE YOUR CODE BEGINS */
